@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	color: #454f63;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}
a {
	text-decoration: none;
}
.wrapper {
	background-color: #eeeffa;
}
.arhiva-container,
.mozai-container {
	margin: 0 auto;
	max-width: 1200px;
}

/* arhiva style */
.arhiva {
	background-color: #dfe1f6;
	margin-bottom: 1.8rem;
}
.arhiva-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding: 24rem 0 11.4rem;
}
.arhiva-description,
.arhiva-logo {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
}
.arhiva-description h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
	letter-spacing: .1rem;
	padding-bottom: 3rem;
}
.arhiva-description p {
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2.2rem;
	letter-spacing: .07rem;
}
.arhiva-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.arhiva-logo__img {
	width: 43rem;
}
.arhiva-logo__img img {
	padding-bottom: 7.7rem;
	height: auto;
	width: 100%;
}
.arhiva-logo__links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.arhiva-logo__links a:first-child {
	border-bottom: .8rem solid #9f2c91;
	color: #9f2c91;
	display: block;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .2rem;
	line-height: 1.2rem;
	padding: 1rem 3.2rem;
}
.arhiva-logo__links a:last-child {
	color: #454f63;
	display: block;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: .2rem;
	line-height: 1.2rem;
	padding: 1rem 3.2rem;
}

/* mozai style */
.mozai {
	background-color: #fff;
}
.mozai-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 6.4rem 0 7.8rem;
}
.mozai-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-bottom: 3rem;
}
.mozai-logo img {
	height: 100%;
	width: 16.5rem;
}
.mozai-description {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.mozai-description__logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding-right: 4rem;
}
.mozai-description__logo img {
	height: 100%;
	width: 13.8rem;
}
.mozai-description__text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.mozai-description__text h2 {
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: .07rem;
	line-height: 2rem;
	padding-bottom: 1.9rem;
}
.mozai-description__text p {
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: .12rem;
	line-height: 1.6rem;
}




/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html, body {
		font-size: 9px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 8px;
	}

	.arhiva-container,
	.mozai-container {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 7px;
	}

	.arhiva-container,
	.mozai-container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 6px;
	}

	.wrapper {
		padding-bottom: 3.6rem;
	}

	/* arhiva style */
	.arhiva {
		margin-bottom: 0rem;
	}
	.arhiva-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 9rem 2.3rem 11.4rem;
	}
	.arhiva-description,
	.arhiva-logo {
		-webkit-flex-basis: 100%;
		    -ms-flex-preferred-size: 100%;
		        flex-basis: 100%;
	}
	.arhiva-description h1 {
		font-size: 3.4rem;
		line-height: 4rem;
		letter-spacing: .14rem;
		padding-bottom: 3.8rem;
	}
	.arhiva-description p {
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 4rem;
		letter-spacing: .12rem;
	}
	.arhiva-logo {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
	}
	.arhiva-logo__img img {
		padding: 15rem 0;
	}
	.arhiva-logo__links {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
	}
	.arhiva-logo__links a:first-child {
		border-bottom: 1.6rem solid #9f2c91;
		font-size: 4rem;
		letter-spacing: .4rem;
		line-height: 2.4rem;
		padding: 2rem 6.4rem;
	}
	.arhiva-logo__links a:last-child {
		font-size: 4rem;
		letter-spacing: .4rem;
		line-height: 2.4rem;
		padding: 2rem 6.4rem;
	}

	/* mozai style */
	.mozai-container {
		padding: 16.8rem 3.2rem 13.2rem;
	}
	.mozai-logo {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-bottom: 10.4rem;
	}
	.mozai-logo img {
		width: 33rem;
	}
	.mozai-description {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.mozai-description__logo {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;
	}
	.mozai-description__logo img {
		padding-top: 10.4rem;
		width: 27.6rem;
	}
	.mozai-description__text h2 {
		font-size: 2.8rem;
		letter-spacing: .14rem;
		line-height: 4.8rem;
		padding-bottom: 3.8rem;
	}
	.mozai-description__text p {
		font-size: 2.4rem;
		letter-spacing: .24rem;
		line-height: 4rem;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 5px;
	}
}