/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  color: #586b7e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  color: #4a4a4a;
  font-size: 4.6rem;
  font-weight: 600;
  line-height: 5.4rem;
  letter-spacing: -0.037rem;
}

h2 {
  color: #4a4a4a;
  font-size: 2.8rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border: 0.25rem solid #008dfd;
  width: 8.1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  color: #4a4a4a;
  font-size: 1.6rem;
  font-weight: 700;
}

h5 {
  color: #4a4a4a;
  font-family: 'Poppins', sans-serif;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: -0.056rem;
}

h6 {
  color: #008dfd;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 3.4rem;
  letter-spacing: 0.04rem;
}

p {
  font-size: 1.4rem;
}

p.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: -0.018rem;
  line-height: 2.5rem;
}

a {
  color: #586b7e;
  font-size: 1.6rem;
  text-decoration: none;
}

.blue {
  color: #008dfd;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

/* header styles */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.5rem 0 10.8rem;
  width: 118rem;
}

.header__logo {
  width: 15.5rem;
}

.header__logo img {
  width: 100%;
}

.navbar-toggler {
  display: none;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__element {
  margin-left: 5rem;
  text-align: center;
}

.navbar__link {
  line-height: 1.4rem;
  font-weight: 600;
}

.navbar__link:hover,
.navbar__link:focus {
  color: #54bedf;
  font-weight: 700;
}

.navbar__link.login {
  background-color: #008dfd;
  border-radius: 0.6rem;
  color: #fff;
  padding: 1.3rem 4.3rem;
}

.navbar__link .arrow {
  height: .7rem;
  width: 1rem;
}

.dropdown-menu {
  display: none;
}

.navbar.collapse {
  display: block;
}

/* container styles */

/* intro styles */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 18.6rem;
  width: 118rem;
}

.intro__description {
  padding: 7.5rem 0 0;
  width: 41.5rem;
}

.intro__description h1 {
  font-family: 'Poppins', sans-serif;
}

.intro__description p.poppins {
  padding: 2.2rem 0 3.1rem;
}

.intro__button {
  background-color: #008dfd;
  border: 0;
  border-radius: 0.6rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.4rem;
  padding: 1.4rem 3rem;
}

.intro__img {
  position: relative;
  right: -2rem;
  width: 64.2rem;
}

.intro__img img {
  width: 100%;
}

/* smart styles */
.smart {
  margin: 0 auto 14.4rem;
  width: 108rem;
}

.smart p.poppins {
  padding: 6.5rem 0 8.6rem;
  text-align: center;
}

.smart__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.smart__block {
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 1.1rem rgba(88, 107, 126, 0.13);
  display: flex;
  flex-direction: row;
  margin-bottom: 5.2rem;
  padding: 3rem 3rem 2rem 2rem;
  width: 51.6rem;
}

.smart__img {
  display: flex;
  align-items: center;
  width: 40%;
}

.smart__img img {
  width: 100%;
}

.smart__data {
  margin-left: 3rem;
  width: 60%;
}

.smart__data h3 {
  color: #4a4a4a;
  font-weight: 700;
  margin-bottom: 3.2rem;
  position: relative;
}

.smart__data h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.3rem;
  border: 0.2rem solid #55bedd;
  width: 7.7rem;
}

.smart__data p {
  line-height: 2.5rem;
}

/* ideal, talent, more styles */
.ideal, .talent, .more {
  margin: 0 auto 8.3rem;
  width: 99rem;
}

.ideal p.poppins, .talent p.poppins, .more p.poppins {
  padding: 6.5rem 0 8.6rem;
  text-align: center;
}

.ideal__content, .talent__content, .more__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ideal__block, .talent__block, .more__block {
  text-align: center;
  margin-bottom: 7.5rem;
  width: 20rem;
}

.ideal__img, .talent__img, .more__img {
  box-shadow: 0 0.2rem 1.1rem rgba(88, 107, 126, 0.13);
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2.8rem;
  height: 10.4rem;
  width: 10.4rem;
}

.ideal__img img, .talent__img img, .more__img img {
  max-height: 100%;
  max-width: 100%;
}

.ideal__block h4, .talent__block h4, .more__block h4 {
  padding: 2.4rem 0 2.1rem;
}

.ideal__block p, .talent__block p, .more__block p {
  line-height: 1.3;
}

/* more styles */
.more h2 {
  margin-bottom: 10rem;
}

/* why, story styles */
.why, .story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 118rem;
}

.why {
  margin-bottom: 23rem;
}

.story {
  margin-bottom: 12.5rem;
}

.story__description {
  order: 2;
  text-align: right;
}

.why__description h5,
.story__description h5 {
  position: relative;
}

.why__description h5 {
  padding-left: 7.1rem;
}

.story__description h5 {
  padding-right: 7.1rem;
}

.why__description h5:before,
.story__description h5:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.3rem solid #a2a1ff;
  width: 5rem;
}

.why__description h5:before {
  left: 0;
}

.story__description h5:before {
  right: 0;
}

.why__description h6,
.story__description h6 {
  margin: 1.3rem 0 3rem;
}

.why__description p,
.story__description p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.032rem;
  line-height: 3.4rem;
}

.why__description p:not(:last-child),
.story__description p:not(:last-child) {
  margin-bottom: 3rem;
}

.why__img,
.story__img {
  flex-shrink: 0;  
}

.why__img {
  margin-left: 6.3rem;
  padding-top: 6.4rem;
  width: 56.7rem;
}

.story__img {
  margin-right: 4.1rem;
  padding-top: 10rem;
  width: 54.2rem;
}

.why__img img,
.story__img img {
  width: 100%;
}

/* team styles */
.team {
  margin: 0 auto;
  width: 110rem;
}

.team h2 {
  margin-bottom: 10.7rem;
}

.team p {
  font-size: 1.6rem;
  line-height: 3.4rem;
  letter-spacing: 0.032rem;
  margin-bottom: 6.6rem;
  text-align: center;
}

.team__img, .team__img img {
  width: 100%;
}
















/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 9px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }

  /* header styles */
  .navbar-toggler {
    display: block;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }

  /* header styles */
  .navbar-toggler {
    display: block;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}